<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLS Packet Monitor</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <h1>TLS Packet Monitor</h1>
    <div class="container-wrapper">
        <div class="log-section">
            <h2>All Packets</h2>
            <div id="log-container"></div>
        </div>
        <div class="log-section">
            <h2>Handshake Packets</h2>
            <div id="handshake-container"></div>
        </div>
    </div>
    <div id="server-stats"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>